03. Library/LGC.GMES.MES.Common/Service References/BizInfoService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="M_Server" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBizActorInfoServer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBizActorInfoServer_GetServiceInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfo" />
  </wsdl:message>
  <wsdl:message name="IBizActorInfoServer_GetServiceInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IBizActorInfoServer_GetServiceInfoXml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfoXml" />
  </wsdl:message>
  <wsdl:message name="IBizActorInfoServer_GetServiceInfoXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfoXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="IBizActorInfoServer">
    <wsdl:operation name="GetServiceInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBizActorInfoServer/GetServiceInfo" message="tns:IBizActorInfoServer_GetServiceInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBizActorInfoServer/GetServiceInfoResponse" message="tns:IBizActorInfoServer_GetServiceInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfoXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IBizActorInfoServer/GetServiceInfoXml" message="tns:IBizActorInfoServer_GetServiceInfoXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBizActorInfoServer/GetServiceInfoXmlResponse" message="tns:IBizActorInfoServer_GetServiceInfoXml_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBizActorInfoServer" type="tns:IBizActorInfoServer">
    <wsp:PolicyReference URI="#NetTcpBinding_IBizActorInfoServer_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetServiceInfo">
      <soap12:operation soapAction="http://tempuri.org/IBizActorInfoServer/GetServiceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfoXml">
      <soap12:operation soapAction="http://tempuri.org/IBizActorInfoServer/GetServiceInfoXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="M_Server">
    <wsdl:port name="NetTcpBinding_IBizActorInfoServer" binding="tns:NetTcpBinding_IBizActorInfoServer">
      <soap12:address location="net.tcp://localhost:4530/BizActorInfoServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4530/BizActorInfoServer</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>